asyncua>=1.1.0
paho-mqtt>=2.0.0
aiohttp>=3.9.0
python-dotenv>=1.0.0
pyyaml>=6.0

fieldworks-core @ git+https://github.com/fieldworks-build/fieldworks-core.git@4ca9f040676d9b7234fd604d97d50c08b7900320
